<div class="row">
  <div class="span6">
    Display events created 'yesterday' (created_at)
    <%= render partial: "list_yesterday_events", locals: { list: @events_from_yesterday } %>
  </div>
  <div class="span6">
    Display events scheduled 'today' <br />
    (based on corp - 'Eastern Time (US & Canada)')
    <%= render partial: "list_events", locals: { list: @events_scheduled_today } %>
  </div>
</div>

<hr />

<div class="row">
  <div class="span6">
    Data ordered using SQL
    <%= render partial: "list_ordered_events", locals: { list: @events_sql_order } %>
  </div>
  <div class="span6">
    Ruby sort (ordered attributes do not convert in use_zone block)
    <%= render partial: "list_ordered_events", locals: { list: @events_ruby_order } %>
  </div>
</div>
