<div class="row">
  <div class="span6">
    Display events created 'yesterday'
    <%= render partial: "list_events", locals: { list: @events_from_yesterday } %>
  </div>
  <div class="span6">
    Display events scheduled for 'today'
    <%= render partial: "list_events", locals: { list: @events_scheduled_today } %>
  </div>
</div>

<hr />

<div class="row">
  <div class="span6">
    Data ordered using SQL
    <%= render partial: "list_ordered_events", locals: { list: @events_sql_order } %>
  </div>
  <div class="span6">
    Ruby sort (ordered attributes do not convert in use_zone block)
    <%= render partial: "list_ordered_events", locals: { list: @events_ruby_order } %>
  </div>
</div>
