<% if @work_schedule.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@work_schedule.errors.count, "error") %> prohibited this event from being saved:</h2>

    <ul>
    <% @work_schedule.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>